/* [project]/src/css/satoshi.css [app-client] (css) */
@font-face {
  font-family: Satoshi;
  src: url("/_next/static/media/Satoshi-Light.99a9212d.woff2") format("woff2"), url("/_next/static/media/Satoshi-Light.42717b6d.woff") format("woff"), url("/_next/static/media/Satoshi-Light.a61e034e.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("/_next/static/media/Satoshi-LightItalic.369f745d.woff2") format("woff2"), url("/_next/static/media/Satoshi-LightItalic.ec47bd68.woff") format("woff"), url("/_next/static/media/Satoshi-LightItalic.351d9e5a.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi;
  src: url("/_next/static/media/Satoshi-Regular.c0432bd8.woff2") format("woff2"), url("/_next/static/media/Satoshi-Regular.d967cd81.woff") format("woff"), url("/_next/static/media/Satoshi-Regular.67d8e623.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("/_next/static/media/Satoshi-Italic.c4ce092a.woff2") format("woff2"), url("/_next/static/media/Satoshi-Italic.a8da749b.woff") format("woff"), url("/_next/static/media/Satoshi-Italic.b237c6f8.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi;
  src: url("/_next/static/media/Satoshi-Medium.d1c3c065.woff2") format("woff2"), url("/_next/static/media/Satoshi-Medium.e2210dbf.woff") format("woff"), url("/_next/static/media/Satoshi-Medium.4f8e7f3e.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("/_next/static/media/Satoshi-MediumItalic.196fe3f0.woff2") format("woff2"), url("/_next/static/media/Satoshi-MediumItalic.e83b5c54.woff") format("woff"), url("/_next/static/media/Satoshi-MediumItalic.14ae5998.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi;
  src: url("/_next/static/media/Satoshi-Bold.0405f017.woff2") format("woff2"), url("/_next/static/media/Satoshi-Bold.6b0fc1e2.woff") format("woff"), url("/_next/static/media/Satoshi-Bold.5ed63e30.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("/_next/static/media/Satoshi-BoldItalic.28aba761.woff2") format("woff2"), url("/_next/static/media/Satoshi-BoldItalic.4fedf6df.woff") format("woff"), url("/_next/static/media/Satoshi-BoldItalic.a7002dc6.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi;
  src: url("/_next/static/media/Satoshi-Black.33fff4ec.woff2") format("woff2"), url("/_next/static/media/Satoshi-Black.becdfa9d.woff") format("woff"), url("/_next/static/media/Satoshi-Black.667f5b4f.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("/_next/static/media/Satoshi-BlackItalic.7adb4435.woff2") format("woff2"), url("/_next/static/media/Satoshi-BlackItalic.fed76274.woff") format("woff"), url("/_next/static/media/Satoshi-BlackItalic.3251e4c1.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

/*# sourceMappingURL=src_css_satoshi_b52d8e.css.map*/